<%- @homepage = true -%>

<ul class="login-nav">
  <li><%= link_to 'Login', login_path, :title => 'login' %></li>
  <li><%= link_to 'Signup', signup_path, :title => 'signup' %></li>
  <%= image_tag 'caret.png' %>
</ul>

<%= render :partial => 'shared/login_box' %>

<div id="signup-box" class="styled-form" style="display:none;">
  <%= render :partial => 'shared/signup_box' %>
</div><!-- signup_box -->